$root-element: 'awssld';
$cos45: 0.7071;
$transition-bezier: cubic-bezier(0.5, 0.075, 0.25, 0.95);
$slider-height-percentage: 60%;
$slider-transition-duration: 575ms;

$organic-arrow-color: #ffffff;
$organic-arrow-thickness: 10px;
$organic-arrow-height: 35px;
$organic-arrow-border-radius: 30px;
$control-button-width: 4%;
$control-button-height: 10%;
$control-button-opacity: 1;
$control-button-hover-opacity: 0.75;
$control-button-background: #a07e3f;
$loader-bar-color: #851515;
$loader-bar-height: 6px;
$control-bullet-color: transparent;
$control-bullet-active-color: #6a6a6a;
$content-background-color: #2f2f2f;
